h1 {
    padding:30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: blue;
    line-height: 44px;
}

.img-profile-picture {
    width: 100px;
    background-size: contain;
    border-radius: 50%;
}

.border-round {
    border-style: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
}

@media only screen and (min-width: 768px) {

}